<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode "en" }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container">
    <header>
      {{ partial "header.html" . }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>

  <!-- Ko-fi floating widget -->
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('cassettefuture', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': 'Join the Crew',
      'floating-chat.donateButton.background-color': '#f45d22',
      'floating-chat.donateButton.text-color': '#fff'
    });
  </script>
</body>
</html>
